*.a
*.sw*
*.vscode/
*.cmake
results.txt
CMakeCache.txt
CMakeFiles
Makefile
compile_commands.json
moc_*
*.moc
!libraries/fc/**

libraries/fc/*.slo
libraries/fc/*.lo
libraries/fc/*.o
libraries/fc/*.obj

libraries/fc/*.so
libraries/fc/*.dylib
libraries/fc/*.dll

libraries/fc/*.lai
libraries/fc/*.la
libraries/fc/*.a
libraries/fc/*.lib

libraries/fc/*.sln
libraries/fc/*.vcxproj
libraries/fc/ALL_BUILD
libraries/fc/ZERO_CHECK

libraries/fc/*.suo
libraries/fc/*.vcxproj.filters
libraries/fc/*.vcxproj.user
libraries/fc/*.pdb
libraries/fc/*.ilk
libraries/fc/*.lastbuildstate
libraries/fc/*.sdf
libraries/fc/*.opensdf
libraries/fc/Debug/
libraries/fc/Release/

libraries/fc/CMakeCache.txt
libraries/fc/CMakeFiles
libraries/fc/Makefile
libraries/fc/cmake_install.cmake
libraries/fc/*.cbp

libraries/fc/libfc.a
libraries/fc/libfc_debug.a

libraries/fc/*.sw*

libraries/fc/fc_automoc.cpp
libraries/fc/git_revision.cpp
libraries/fc/GitSHA3.cpp

libraries/fc/task_cancel_test

witness_node_data_dir
programs/witness_node/witness_node_data_dir
programs/witness_node/my-wallet.json

libraries/fc/vendor/secp256k1-zkp/src/project_secp256k1-*
libraries/fc/vendor/secp256k1-zkp/src/*.in
libraries/fc/vendor/secp256k1-zkp/src/*.in~

libraries/fc/vendor/editline/src/Makefile.in
libraries/fc/vendor/editline/src/project_editline-*
libraries/fc/vendor/editline/project_editline-build/Makefile 
libraries/fc/vendor/editline/autom4te.cache/requests

libraries/fc/CMakeFiles/**
libraries/fc/git_revision.cpp
libraries/utilities/git_revision.cpp
libraries/egenesis/egenesis_brief.cpp
libraries/egenesis/egenesis_full.cpp
libraries/egenesis/embed_genesis
libraries/wallet/api_documentation.cpp
libraries/chain/include/graphene/chain/hardfork.hpp
programs/build_helpers/cat-parts
programs/build_helpers/member_enumerator
programs/cli_wallet/cli_wallet
programs/delayed_node/delayed_node
programs/genesis_util/convert_address
programs/genesis_util/genesis_update
programs/genesis_util/get_dev_key
programs/js_operation_serializer/js_operation_serializer
programs/network_mapper/network_mapper
programs/size_checker/size_checker
programs/witness_node/witness_node
witness_node_data_dir/.DS_Store
npm
operations.input
config.ini
.DS_Store
genesis-dev.json
operations.js
TODO
my-wallet.json
testcases
libraries/fc/git_revision.cpp
libraries/fc/git_revision.cpp
libraries/fc/vendor/editline/config.h.in
libraries/fc/vendor/editline/Makefile.in
libraries/fc/vendor/editline/autom4te.cache/requests
libraries/fc/vendor/secp256k1-zkp/autom4te.cache/requests
libraries/fc/git_revision.cpp
libraries/fc/git_revision.cpp
libraries/fc/vendor/editline/autom4te.cache/requests
libraries/fc/vendor/secp256k1-zkp/autom4te.cache/requests

CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/TargetDirectories.txt
CMakeFiles/feature_tests.bin
CMakeFiles/feature_tests.c
libraries/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/app/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/app/CMakeFiles/graphene_app.dir/build.make
libraries/app/CMakeFiles/graphene_app.dir/flags.make
libraries/app/Makefile
libraries/app/cmake_install.cmake
libraries/chain/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/chain/CMakeFiles/build_hardfork_hpp.dir/build.make
libraries/chain/CMakeFiles/graphene_chain.dir/build.make
libraries/chain/CMakeFiles/graphene_chain.dir/flags.make
libraries/chain/Makefile
libraries/chain/cmake_install.cmake
libraries/cmake_install.cmake
libraries/db/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/db/CMakeFiles/graphene_db.dir/build.make
libraries/db/CMakeFiles/graphene_db.dir/flags.make
libraries/db/Makefile
libraries/db/cmake_install.cmake
libraries/egenesis/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/egenesis/CMakeFiles/embed_genesis.dir/build.make
libraries/egenesis/CMakeFiles/embed_genesis.dir/flags.make
libraries/egenesis/CMakeFiles/embed_genesis.dir/link.txt
libraries/egenesis/CMakeFiles/graphene_egenesis_brief.dir/build.make
libraries/egenesis/CMakeFiles/graphene_egenesis_brief.dir/flags.make
libraries/egenesis/CMakeFiles/graphene_egenesis_full.dir/build.make
libraries/egenesis/CMakeFiles/graphene_egenesis_full.dir/flags.make
libraries/egenesis/CMakeFiles/graphene_egenesis_none.dir/build.make
libraries/egenesis/CMakeFiles/graphene_egenesis_none.dir/flags.make
libraries/egenesis/Makefile
libraries/egenesis/cmake_install.cmake
libraries/net/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/net/CMakeFiles/graphene_net.dir/build.make
libraries/net/CMakeFiles/graphene_net.dir/flags.make
libraries/net/Makefile
libraries/net/cmake_install.cmake
libraries/plugins/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/plugins/Makefile
libraries/plugins/account_history/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/plugins/account_history/CMakeFiles/graphene_account_history.dir/build.make
libraries/plugins/account_history/CMakeFiles/graphene_account_history.dir/flags.make
libraries/plugins/account_history/Makefile
libraries/plugins/account_history/cmake_install.cmake
libraries/plugins/cmake_install.cmake
libraries/plugins/debug_witness/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/plugins/debug_witness/CMakeFiles/graphene_debug_witness.dir/build.make
libraries/plugins/debug_witness/CMakeFiles/graphene_debug_witness.dir/flags.make
libraries/plugins/debug_witness/Makefile
libraries/plugins/debug_witness/cmake_install.cmake
libraries/plugins/delayed_node/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/plugins/delayed_node/CMakeFiles/graphene_delayed_node.dir/build.make
libraries/plugins/delayed_node/CMakeFiles/graphene_delayed_node.dir/flags.make
libraries/plugins/delayed_node/Makefile
libraries/plugins/delayed_node/cmake_install.cmake
libraries/plugins/elasticsearch/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/plugins/elasticsearch/CMakeFiles/graphene_elasticsearch.dir/DependInfo.cmake
libraries/plugins/elasticsearch/CMakeFiles/graphene_elasticsearch.dir/build.make
libraries/plugins/elasticsearch/CMakeFiles/graphene_elasticsearch.dir/flags.make
libraries/plugins/elasticsearch/Makefile
libraries/plugins/elasticsearch/cmake_install.cmake
libraries/plugins/es_objects/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/plugins/es_objects/CMakeFiles/graphene_es_objects.dir/DependInfo.cmake
libraries/plugins/es_objects/CMakeFiles/graphene_es_objects.dir/build.make
libraries/plugins/es_objects/CMakeFiles/graphene_es_objects.dir/flags.make
libraries/plugins/es_objects/Makefile
libraries/plugins/es_objects/cmake_install.cmake
libraries/plugins/grouped_orders/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/plugins/grouped_orders/CMakeFiles/graphene_grouped_orders.dir/build.make
libraries/plugins/grouped_orders/CMakeFiles/graphene_grouped_orders.dir/flags.make
libraries/plugins/grouped_orders/Makefile
libraries/plugins/grouped_orders/cmake_install.cmake
libraries/plugins/market_history/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/plugins/market_history/CMakeFiles/graphene_market_history.dir/build.make
libraries/plugins/market_history/CMakeFiles/graphene_market_history.dir/flags.make
libraries/plugins/market_history/Makefile
libraries/plugins/market_history/cmake_install.cmake
libraries/plugins/snapshot/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/plugins/snapshot/CMakeFiles/graphene_snapshot.dir/build.make
libraries/plugins/snapshot/CMakeFiles/graphene_snapshot.dir/flags.make
libraries/plugins/snapshot/Makefile
libraries/plugins/snapshot/cmake_install.cmake
libraries/plugins/witness/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/plugins/witness/CMakeFiles/graphene_witness.dir/build.make
libraries/plugins/witness/CMakeFiles/graphene_witness.dir/flags.make
libraries/plugins/witness/Makefile
libraries/plugins/witness/cmake_install.cmake
libraries/utilities/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/utilities/CMakeFiles/git-data/grabRef.cmake
libraries/utilities/CMakeFiles/git-data/head-ref
libraries/utilities/CMakeFiles/graphene_utilities.dir/DependInfo.cmake
libraries/utilities/CMakeFiles/graphene_utilities.dir/build.make
libraries/utilities/CMakeFiles/graphene_utilities.dir/flags.make
libraries/utilities/Makefile
libraries/utilities/cmake_install.cmake
libraries/utilities/git_revision.cpp
libraries/wallet/CMakeFiles/CMakeDirectoryInformation.cmake
libraries/wallet/CMakeFiles/graphene_wallet.dir/build.make
libraries/wallet/CMakeFiles/graphene_wallet.dir/flags.make
libraries/wallet/Makefile
libraries/wallet/cmake_install.cmake
programs/CMakeFiles/CMakeDirectoryInformation.cmake
programs/Makefile
programs/build_helpers/CMakeFiles/CMakeDirectoryInformation.cmake
programs/build_helpers/CMakeFiles/cat-parts.dir/build.make
programs/build_helpers/CMakeFiles/cat-parts.dir/flags.make
programs/build_helpers/CMakeFiles/cat-parts.dir/link.txt
programs/build_helpers/CMakeFiles/member_enumerator.dir/build.make
programs/build_helpers/CMakeFiles/member_enumerator.dir/flags.make
programs/build_helpers/CMakeFiles/member_enumerator.dir/link.txt
programs/build_helpers/Makefile
programs/build_helpers/cmake_install.cmake
programs/cli_wallet/CMakeFiles/CMakeDirectoryInformation.cmake
programs/cli_wallet/CMakeFiles/cli_wallet.dir/build.make
programs/cli_wallet/CMakeFiles/cli_wallet.dir/flags.make
programs/cli_wallet/CMakeFiles/cli_wallet.dir/link.txt
programs/cli_wallet/Makefile
programs/cli_wallet/cmake_install.cmake
programs/cmake_install.cmake
programs/delayed_node/CMakeFiles/CMakeDirectoryInformation.cmake
programs/delayed_node/CMakeFiles/delayed_node.dir/build.make
programs/delayed_node/CMakeFiles/delayed_node.dir/flags.make
programs/delayed_node/CMakeFiles/delayed_node.dir/link.txt
programs/delayed_node/Makefile
programs/delayed_node/cmake_install.cmake
programs/genesis_util/CMakeFiles/CMakeDirectoryInformation.cmake
programs/genesis_util/CMakeFiles/convert_address.dir/build.make
programs/genesis_util/CMakeFiles/convert_address.dir/flags.make
programs/genesis_util/CMakeFiles/convert_address.dir/link.txt
programs/genesis_util/CMakeFiles/genesis_update.dir/build.make
programs/genesis_util/CMakeFiles/genesis_update.dir/flags.make
programs/genesis_util/CMakeFiles/genesis_update.dir/link.txt
programs/genesis_util/CMakeFiles/get_dev_key.dir/build.make
programs/genesis_util/CMakeFiles/get_dev_key.dir/flags.make
programs/genesis_util/CMakeFiles/get_dev_key.dir/link.txt
programs/genesis_util/Makefile
programs/genesis_util/cmake_install.cmake
programs/js_operation_serializer/CMakeFiles/CMakeDirectoryInformation.cmake
programs/js_operation_serializer/CMakeFiles/js_operation_serializer.dir/build.make
programs/js_operation_serializer/CMakeFiles/js_operation_serializer.dir/flags.make
programs/js_operation_serializer/CMakeFiles/js_operation_serializer.dir/link.txt
programs/js_operation_serializer/Makefile
programs/js_operation_serializer/cmake_install.cmake
programs/network_mapper/CMakeFiles/CMakeDirectoryInformation.cmake
programs/network_mapper/CMakeFiles/network_mapper.dir/build.make
programs/network_mapper/CMakeFiles/network_mapper.dir/flags.make
programs/network_mapper/CMakeFiles/network_mapper.dir/link.txt
programs/network_mapper/Makefile
programs/network_mapper/cmake_install.cmake
programs/size_checker/CMakeFiles/CMakeDirectoryInformation.cmake
programs/size_checker/CMakeFiles/size_checker.dir/build.make
programs/size_checker/CMakeFiles/size_checker.dir/flags.make
programs/size_checker/CMakeFiles/size_checker.dir/link.txt
programs/size_checker/Makefile
programs/size_checker/cmake_install.cmake
programs/witness_node/CMakeFiles/CMakeDirectoryInformation.cmake
programs/witness_node/CMakeFiles/witness_node.dir/DependInfo.cmake
programs/witness_node/CMakeFiles/witness_node.dir/build.make
programs/witness_node/CMakeFiles/witness_node.dir/flags.make
programs/witness_node/CMakeFiles/witness_node.dir/link.txt
programs/witness_node/Makefile
programs/witness_node/cmake_install.cmake